.email-icon {
   background-image: url("/assets/images/Artboard.png");
   background-position: -21px -8px; 
   background-repeat: no-repeat;
} 

.calendar-icon {
   background-image: url("/assets/images/Icons/calendar.png");
   background-position: 1px 0px;
   background-size: contain;
   background-repeat: no-repeat;
} 

.flecha-icon {
   background-image: url("/assets/images/flecha.png");
   background-position: -21px -8px; 
   background-repeat: no-repeat;
} 

.pay-icon {
   background-image: url("/assets/images/Icons/pay.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
} 

.side-icon {
   background-image: url("/assets/images/Icons/Side.png");
   background-position: center;
   background-repeat: no-repeat;
} 

.lock-icon {
   background-image: url("/assets/images/Artboard.png");
   background-position: -57px -8px; 
   background-repeat: no-repeat;
} 

.email-icon3 {
   background-image: url("/assets/images/Icons/email3.png");
   background-position: center;
   background-repeat: no-repeat;
   width: 25px;
   background-size: contain;
} 

.email-icon5 {
   background-image: url("/assets/images/Icons/email5.png");
   background-position: center;
   background-repeat: no-repeat;
   width: 25px;
   background-size: contain;
} 

.dni-icon {
   background-image: url("/assets/images/Artboard.png");
   background-position: -100px -7px; 
   background-repeat: no-repeat;
} 

.user-icon {
   background-image: url("/assets/images/Artboard.png");
   background-position: -237px -11px; 
   background-repeat: no-repeat;
} 

.arrowdown-icon {
   background-image: url("/assets/images/Icons/arrowdown.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
} 

.download-icon {
   background-image: url("/assets/images/Icons/download.png");
   background-position: center;
   background-repeat: no-repeat;
} 

.logout-icon {
   background-image: url("/assets/images/Icons/logout.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.info-icon {
   background-image: url("/assets/images/Icons/Info.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.faq-icon {
   background-image: url("/assets/images/Icons/faq.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.his-icon {
   background-image: url("/assets/images/Icons/historic.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.list-icon {
   background-image: url("/assets/images/Icons/list.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.mail-icon {
   background-image: url("/assets/images/Icons/email2.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.home-icon {
   background-image: url("/assets/images/Icons/home.png");
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 10%;
}

.mobile-menu{
   display: inline-block;
   margin: 0 .14285714em;
   border-radius: 0.285714rem;
   transition: background .1s ease;
}