$dark-primary:  #424b51;
$blue-dark:  #00386C;
$green-primary: #49b882;
$blue-secondary: #00A3F4;
$gray-light: #f9fafb;
$red-primary: #B71427;
$yellow-primary: wheat;
$white-primary: #F6F6F6;
$grey-light: #F5F5F5;
$grey-dark: #404040;
$mo-purple: #551F79;
$mo-purple-light: #DAB4F5;
$mo-orange: #F5851F;

$primary-color: #787993;
$secondary-color: #1dc1c1;
$light-blue-color: #3dd5d5;
$green-color: #59d285;
$button-color-main: #1dc1c1;
$white-color: #ffffff;
$header-color-background-1: #4cd77c;
$header-color-background-2: #4cd77c;
$footer-home-color: #283552;
$background-light: rgba(0, 0, 0, 0.37);
$shadow-card: rgba(37, 38, 94, 0.1);

$primary-blue: #1DC1C1;
$primary-grey: #808080;
$secondary-color: #1dc1c1;

