<div class="faq" *ngIf="isLarge">
   <div class="faq__header ui column row grid no-margin">
      <div class="two wide column"></div>
      <div class="six wide column">
         <div class="faq__header__title">
            Frequently Asked Questions
         </div>
         <div class="faq__header__text">
            Sounds great because it is!
         </div>
         <div class="faq__header__button">
         <button class="button__landing__banner__request-big2" (click)="request()">
            REQUEST CASH
         </button>
         </div>
      </div>
      <div class="six wide column">
         <div class="faq__header__image">
         <img class="faq__header__image__pic" src="/assets/images/faqcoins.png">
         </div>
      </div>
      <div class="two wide column"></div>
   </div>
   <div class="faq__body ui grid">
      <div class="three column row faq__body__columns">
         <div class="column">
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  What is MO?
               </div>
               <div class="faq__body__columns__card__text">
                  We are one of the fastest growing Fintech worldwide and we aim at 
                  revolutionizing the credit scoring industry & promoting financial 
                  inclusion, by giving small businesses the possibility to access 
                  fast cash independent from their credit history.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  How do I change my business bank account?
               </div>
               <div class="faq__body__columns__card__text">
                  If you would like to change your business bank account contact us at 
                  help@motechnologiesusa.com.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  Where can I review my payments?
               </div>
               <div class="faq__body__columns__card__text">
                  Login to review your historical payments, upcoming payments and preview payments 
                  for a new cash request.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  What if I don’t have enough money in my business bank account to pay an installment?
               </div>
               <div class="faq__body__columns__card__text">
                  If an installment payment is missed due to insufficient funds, we will attempt to 
                  withdraw again the following day. A penalty of $10 will be added to your last 
                  payment for each missed installment payment.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  How do I apply?
               </div>
               <div class="faq__body__columns__card__text">
                     Applying is fast and easy.  First, we ask for basic information about your business.  
                     Thereafter, we ask you to securely connect to your business bank account so we can 
                     analyze your business performance and automatically approve you for the maximum cash 
                     amount. 
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  Who funds my cash request?
               </div>
               <div class="faq__body__columns__card__text">
                  Who funds my cash request? 
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How quickly can I get my funds?
               </div>
               <div class="faq__body__columns__card__text">
                     If you make a cash request before 11:00am EST during a business day, funds will 
                     be deposited into your linked business bank account the same day. Otherwise, you 
                     shall receive the funds the next business day.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How do you use my business bank account information?
               </div>
               <div class="faq__body__columns__card__text">
                     Reviewing your business banking activity gives us a full picture of your business 
                     in real time without requiring you to submit paperwork. Your account will remain 
                     connected to MO not just at the time of application, but also on an ongoing basis 
                     so you don't have to reapply or reenter your information. Our persistent data 
                     connectivity keeps you eligible for promotional offers and ensures we approve you 
                     for the maximum cash amount based on your most recent business activity.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How secure is my information?
               </div>
               <div class="faq__body__columns__card__text">
                     Security is our priority and we follow the required information security practices 
                     to maintain the integrity of your information. We can never see or store bank/data 
                     source login information, and we have no access to save or change your bank account 
                     data. For more information, review our Privacy Policy.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     Does you sell my information to third parties?
               </div>
               <div class="faq__body__columns__card__text">
                     We never sell your data to third parties. Your information is strictly used to help 
                     us best serve you.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>

         </div>
         <div class="column">
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  Why do small businesses use MO Instant Cash?
               </div>
               <div class="faq__body__columns__card__text">
                  Every business needs additional working capital to grow their businesses in 
                  countless ways, from marketing campaigns to purchasing inventory to hiring 
                  new employees.  Check 13 ways you can use MO Instant Cash to show your business 
                  some love.
               </div>
               <div class="faq__body__columns__card__button">
                  <button class="button__landing__banner__download faq__body__columns__card__button__button" (click)="open()">
                     Check here
                  </button>
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How do installment payments work?
               </div>
               <div class="faq__body__columns__card__text">
                  We simplify your payments by automatically withdrawing 22 equal installments from 
                  your business bank account.  Installment payments will begin 5 business days after 
                  we deposit your cash request.  We ask your bank to deduct installment payments 
                  during business days only.  So you have a little over a month to pay back the debt 
                  considering we ask the bank not to deduct installments during weekends and holidays. 
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  Can I make an early payment?
               </div>
               <div class="faq__body__columns__card__text">
                  Early payments will be handled on an exception basis. If our Customer Service approves 
                  you for an early payment, you are still responsible to pay the entire 4.99% service 
                  charge. If you are interested in an early payment, contact us at 
                  help@motechnologiesusa.com.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  What does it cost to apply?
               </div>
               <div class="faq__body__columns__card__text">
                  It’s 100% free and it does not negatively impact your credit score.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  Who is eligible to request cash through MO?
               </div>
               <div class="faq__body__columns__card__text">
                  Approval requires verification of your business information, your business bank 
                  account and a minimum sale of $1,000 each month for the three past months
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     What information and verification do you need from my business?
               </div>
               <div class="faq__body__columns__card__text">
                  Tax ID or EIN, business zip code, business bank account, e-mail or phone number 
                  associated with your business bank account.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     Can I reapply if I'm not qualified?
               </div>
               <div class="faq__body__columns__card__text">
                     Considering we approve you for a cash request based on your business performance, 
                     we recommend reapplying only after your business has experienced positive sales growth.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How can I increase my chances of qualifying?
               </div>
               <div class="faq__body__columns__card__text">
                     MO looks at your business financial performance to determine the maximum cash you 
                     can request. The more sales you're able to show, the better chance you have of 
                     qualifying. Make sure you link the business bank account that contains the majority 
                     of your sales transactions to improve your likelihood of qualification.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     Why do you need my business bank account information?
               </div>
               <div class="faq__body__columns__card__text">
                     Unlike other merchant funding companies, we only look at your business banking 
                     activity to ensure we provide you the maximum cash approval decision. Logging 
                     into your business bank account shows us how you make and spend money.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     Where is MO located?
               </div>
               <div class="faq__body__columns__card__text">
                     We are headquartered in Miami, Florida.  Contact us at help@motechnologiesusa.com.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            
         </div>
         <div class="column">
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  What account do you deposit my cash request and withdraw payments form?
               </div>
               <div class="faq__body__columns__card__text">
                  During the application process we ask you to link your business bank account, 
                  which we use, as your primary payment account. Your primary payment account 
                  is the account we deposit your cash requests and withdraw installment payments 
                  from.   
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  How is my payment amount determined?
               </div>
               <div class="faq__body__columns__card__text">
                  The daily amount deducted will be made up of your requested cash amount plus a 
                  one-time 4.99% service charge, divided by 22 installments.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                  When do payments post to my business bank account?
               </div>
               <div class="faq__body__columns__card__text">
                  Installment payments will begin 5 business days after we deposit your cash request.  
                  We ask your bank to deduct installment payments during business days only.  
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     What fees are charged for a cash request?
               </div>
               <div class="faq__body__columns__card__text">
                     A one-time 4.99% service charge shall be added to the cash request amount to cover 
                     money transferring and order processing fees.    
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     What if I can’t find my bank in the list of banks provided?
               </div>
               <div class="faq__body__columns__card__text">
                     We use 3rd party data provider Plaid to securely connect to your financial 
                     institution. If you cannot find your bank in the list of banks provided 
                     it’s simply because Plaid does not support connectivity to your bank and as 
                     such we will not be able to extend you a cash request until Plaid provides 
                     us the capability to connect to your bank.  To request for your bank to be 
                     added to Plaid list of banks contact us at help@motechnologiesusa.com.     
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How long does it take to be approved?
               </div>
               <div class="faq__body__columns__card__text">
                     The application and approval process only takes a few minutes.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     How do you determine how much cash I can request?
               </div>
               <div class="faq__body__columns__card__text">
                     We use modern technology to review the financial performance of your business.  
                     We then crunch some numbers and share the maximum cash amount we can provide you.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     If I own multiple businesses, can I open multiple MO accounts?
               </div>
               <div class="faq__body__columns__card__text">
                  If you own multiple businesses, you can open multiple MO accounts as long as each 
                  business has its own unique business bank account.  You cannot link the same business 
                  bank account to multiple MO accounts.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            <div class="faq__body__columns__card">
               <div class="faq__body__columns__card__title">
                     What do you do with my business bank login credentials?
               </div>
               <div class="faq__body__columns__card__text">
                     We use a 3rd party data provider Plaid to securely connect to your financial 
                     institution. We never store your login credentials and only maintains the 
                     account connection through Plaid.
               </div>
               <div class="faq__body__columns__card__division">
                  <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>

<ng-template let-context let-modal="modal" #modalInfo>
   <div class="header header-modal modalFAQ__header">13 ways you can use MO Instant Cash</div>
   <div class="content modalFAQ__content">
      <div class="ui hidden divider"></div>
      <div class="ui fluid text center aligned content-modal">
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               1 – Manage Cash Flow
            </div>
            <div class="faq__body__columns__card__text2">
               Whether you need to meet payroll, keep the utilities running, or pay your lease 
               or mortgage, MO Instant Cash will help cover crucial operating expenses during 
               times when your business experiences a cash flow crunch.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               2 – Bridge Payment Delays
            </div>
            <div class="faq__body__columns__card__text2">
               In many industries, delays in receiving cash for your product or service are 
               fairly common.  MO Instant Cash can help you bridge the gap when clients are 
               late in paying their accounts receivables.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               3 – Purchase Inventory
            </div>
            <div class="faq__body__columns__card__text2">
               MO Instant Cash can be used to restock your inventory, purchase new products 
               to sell in your business, or help buy additional inventory to fill future orders. 
               Some businesses rely on MO Instant Cash to take advantage of bulk pricing or a 
               large sale on inventory where a substantial upfront payment is needed in order 
               to take advantage of special pricing.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               4 – Update Equipment
            </div>
            <div class="faq__body__columns__card__text2">
               What do you do if you’re offered a great deal on new equipment that will have long-term 
               benefits for your business, but don’t have the cash to pay for it?  MO Instant Cash can 
               provide the funds to cover the cost without impacting your current cash flow
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               5 – Pay Seasonal Expenses
            </div>
            <div class="faq__body__columns__card__text2">
               If you are in a seasonal industry, restocking inventory and hiring temporary employees 
               before the busy season can be difficult.  MO Instant Cash is ideal for covering these 
               seasonal expenses as well as boosting your preseason marketing to bring in more sales.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
               6 – Cover Seasonal Shortfalls
            </div>
            <div class="faq__body__columns__card__text2">
                  Seasonal small businesses experience slowdowns when operating capital tends to be 
                  tight.  MO Instant Cash is a valuable tool for managing your cash flow during the 
                  off-season, allowing you to cover ongoing expenses like rent, insurance, taxes, 
                  utilities, and salaries.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  7 – Launch a Marketing Campaign
            </div>
            <div class="faq__body__columns__card__text2">
                  Businesses looking to attract new clients, refresh their brand, or increase their 
                  online presence can use MO Instant Cash to launch a new marketing campaign or expand 
                  an existing one. Advertising, event sponsorship, direct marketing campaigns, signage, 
                  and other return-on-investment opportunities are common uses of MO Instant Cash.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  8 – Hiring and Employee Expenses
            </div>
            <div class="faq__body__columns__card__text2">
                  Cash from MO can be used for human resources expenses, such as hiring bonuses, 
                  employee events, and career fairs.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  9 – Expansions or Renovations
            </div>
            <div class="faq__body__columns__card__text2">
                  Whether your business needs more room to attract more profits or you want to remodel 
                  to provide a better customer experience, consider MO Instant Cash to fund your growth.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  10 – Opportunities for Growth
            </div>
            <div class="faq__body__columns__card__text2">
                  As a small business owner, you never know when opportunities will occur. When you 
                  find the perfect location to expand your operation, get an offer to staff up a 
                  new company, or are suddenly approached about buying out a competitor, access to 
                  quick MO Instant Cash will ensure that you are in a position to jump to the 
                  opportunity before it slips away.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  11 – Taxes
            </div>
            <div class="faq__body__columns__card__text2">
                  MO Instant Cash is an option for bridging your cash flow during tax season or 
                  funding property tax payments.  
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  12 – Unexpected Expenses
            </div>
            <div class="faq__body__columns__card__text2">
                  No matter how well small business owners plan, unforeseen problems such as 
                  equipment troubles, structural damage from fires or floods, or a sudden shift 
                  in the market can leave them strapped for cash. Because MO Instant Cash can be 
                  used for any business expense, it can mean the difference between keeping your 
                  business up and running or having to shut down.  
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>
         <div class="faq__body__columns__card">
            <div class="faq__body__columns__card__title2">
                  13 – Leverage Expertise
            </div>
            <div class="faq__body__columns__card__text2">
                  Business owners use MO Instant Cash to access advice and training from outside 
                  professionals. This can range from hiring a consultant to help implement a new 
                  sales program to working with a software expert to speed up your business processes 
                  and lower expenses.
            </div>
            <div class="faq__body__columns__card__division">
               <img class="faq__body__columns__card__division__pic" src="/assets/images/division.png">
            </div>
         </div>   
      </div>
      <div class="ui hidden divider"></div>
   </div>
   <div class="ui fluid text center aligned content-modal align-center">
      <button class="button__landing__banner__download" 
      (click)="modal.approve('approved')" style="margin-top: 2rem;" autofocus>
         Done
      </button>
      <div class="ui hidden divider"></div>
   </div>
</ng-template>